/**Importaciones de colores y fuentes */
//@import 'colors';

/**Estilos generales de marketing */
/**Nuevos estilos genericos */

body#blog{
  header{
    .sidenav li:nth-child(4){
      background-color: #fdf5e6;
    }
  }
  main{
    .card-action{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 14px;
      img{
        width: 50px;
        height: 50px;
      }
      .icons{
        display: flex;
        width: 60%;
        justify-content: space-around;
        a {
          margin-right: 0px;
          i{
          color: grey;
          }
        }
      }
    }
    .card-content .category{
      font-size: .8em;
      color: orange;
    }
    .card-content .card-title{
      font-weight: 600;
    }
  }
}

body#blog-page{
  p{
    margin-bottom: 2em;
    margin-top: 0;
  }
  img{
    width: 100%;
  }
  b{
    color: #000;
  }
  blockquote{
    margin: 1em 0
  }
}