// COLORES
$blanco: #fff;
$naranja:#FF5100;
$navy: #092143;
$secundario: #2475C7;
$titulo: #606060;
$texto: #909090; 

// FUENTES
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');

$ff-serif: 'Merriweather', serif;
$ff-sans: 'Poppins', sans-serif;
$ff-menu: 'Varela Round', sans-serif;

h1,h2,h3,h4,h5{
  color: $titulo;
  font-family: $ff-serif;
}
p ,span{
  color: $texto;
  font-family: $ff-sans;
}