// COLORES
$blanco: #FFF;
$fondo: #EEE;
$naranja:#FF5100;
$navy: #092143;
$secundario: #556B82;

// FUENTES
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Raleway:400,700&display=swap');

$ff-serif: 'Merriweather', serif;
$ff-sans: 'Raleway', sans-serif;
$ff-menu: 'Varela Round', sans-serif;