/**
 * ESTILOS PARA contacto.html
 */

 @import 'colors';

 body#contacto{
  background-color: $fondo;
  main{
    h2{
      margin-bottom: 0;
    }
    p{
      margin: 0;
      font-size: 1.5rem;
    }
    img{
      width: 100%;
    }
    .card-toolbar{
      padding: 24px;
    }
  }
}
