/**
 * ESTILOS PARA contacto.html
 */

 @import 'colors';
 .lovb{
   background-color: $navy;
 }

 body#contacto{
  background-color: $blanco;
  height: 101vh;
  header{
    .sidenav li:nth-child(5){
      background-color: #fdf5e6;
    }
  }
  main{
    background-color: #fefefe;
    p{
      margin: 0;
      font-size: 1.5rem;
    }
    img{
      width: 100%;
    }
    .collapsible li#descarga{
      width: 33%;
      a{
        width: 100%;
      }
    }
    .collapsible-body article{
      text-align: center;
      cite{
        font-weight: bold;
      }
      .btn-large{
      margin: 2em;
      }
      i {
        padding-right: 1em;
      }
    }
    .collapsible-header{
      text-transform: uppercase;
      color: $blanco;
      background-color: $navy;
      img{
       width: 35px;
       margin-right: 3em;
     }
    }
  }
}

@media (max-width: 576px){
  body#contacto main .collapsible .collapsible-body article{
  	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    q{
      text-align: center;
    }
    cite{
      font-weight: bold;
      padding: 1em 0;
    }
  }
}