/**Importaciones de colores y fuentes */
@import 'colors';

/**Estilos generales de marketing */

body#marketing {
  background-color: $blanco;
  padding-left: 300px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: 100%;
  .collection li{
    background-color: $naranja;
  }
  .navbar-fixed{
    display: none;
  }
 .sidenav{
  	background-color: $naranja;
	  li a{
		  color: $blanco;	
    }
  }
  main{
    flex: 1 0 auto;
  }
}

@media (max-width: 992px){
  body#marketing{
    padding-left: 0;
    .navbar-fixed{
      display: block;
    }
    .navbar{
      background-color: $naranja;
      left: 0;
      width: 100vw;
    }
  }
}