/**Importaciones de colores y fuentes */
//@import 'colors';

/**Estilos generales de marketing */
/**Nuevos estilos genericos */
html{
  scroll-behavior: smooth;
}
/**Cambios de estilos base */
body#marketing {
  background-color: $naranja;
  header{
   .sidenav .collection .collection-header{
      background-color: $hover-sidenav;
    }
  } 
  main{
    #bienvenido{
      margin-top: 5vw;
      p{
        margin-top: 0;
        font-size: calc(.5em + 1vw);
      }
    }
    h2{
      font-family: $ff-serif;
      color: $blanco;
    }
    .box3 .carousel-fixed-item{
      margin-top: 1em;
    }
    .exp{
      color: $blanco;
      margin: 4vw 0;
      font-size: calc(0.8em + 1vw);
    }
    .card i.material-icons{
      background-color: $secundario;
    }
    .card .card-content .card-title{
      color: $navy;
      font-weight: 500;
    }
    .carousel{
      .indicators .indicator-item.active{
        background-color: $naranja;
      }
      .indicators .indicator-item{
        background-color: rgba($color: $naranja, $alpha: 0.3);
      }
      .carousel-item {
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
        border-radius: 10px;
        h2{
          margin: 1em;
          font-size: calc(1em + 1vw);
        }
        p{
          margin: 20px;
          //font-size: calc(.3em + 1vw);
        }
        ul{
          text-align: left;
          li{
            color: $blanco;
            //font-size: calc(1em + 1vw);
          }
        }
    } 
      .logos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $blanco;
        padding: 2em 3em;
        margin: 0 1em;
        img{
          width: 27%;
        }
      }
    }
    /*
    * Imagenes de background del carousel 
    */
    #analitico .carousel .carousel-item {
      background-image: url(../img/fondo/finalcial.jpg);
    }
    #grafico .carousel .carousel-item {
      background-image: url(../img/fondo/design.jpg);
    }
    #digital .carousel .carousel-item {
      background-image: url(../img/fondo/social.jpg);
    }
    .section {
      .header {
        color: $titulo;
      }
      p{
        margin: 5vw 2em;
        font-size: calc(.6em + 1vw);
      }
    } 
    .box2{
      margin-top: 10vw;
    }
    .box3{
      margin-top: 15vw;
    }
  }
}

@media (max-width: 992px){
  body#marketing{
    padding-left: 0;
    header{
      .navbar-fixed{
        display: inherit;
      }
      .navbar{
        //background-color: $naranja;
        left: 0;
        width: 100vw;
      }
    }
    main .carousel .carousel-item p{
      font-size: calc(7px + 1vw);
    }
    main .carousel .carousel-item ul li{
      font-size: calc(.5em + 1vw);
    }
    main .carousel .carousel-item ul li.collection-item{
      font-size: calc(.4em + 1vw);
    }
  }
}
@media (max-width: 720px){

}
@media (max-width: 600px){
  body#marketing main #bienvenido p{
    font-size: 20px !important;
    margin-top: 1em !important;
    width: 100%;
  }
  body#marketing main #bienvenido p:nth-child(2){
    text-align: center;
  }
  body#marketing main .section p{
    font-size: 20px;
  }
}