/**Importaciones de colores y fuentes */
@import 'colors';

/**Estilos generales de marketing */
/**Nuevos estilos genericos */
html{
  scroll-behavior: smooth;
}


/**Cambios de estilos base */
body#marketing {
  background-color: $naranja;
  header{
   .sidenav .collection .collection-header{
      background-color: $naranja;
      a, a i{
        color: $blanco;
      }
    }
  } 
  main{
    h2{
      font-family: $ff-serif;
      color: $blanco;
    }
    .exp{
      color: $blanco;
      margin: 4vw 0;
    }
    .card i.material-icons{
      background-color: $secundario;
    }
    .card .card-content .card-title{
      color: $navy;
      font-weight: 500;
    }
    .carousel .carousel-item img{
      object-fit: fill;
    }
    .section h2.header{
      color: $titulo;
    }
    .box2{
      margin-top: 10vw;
    }
    .box3{
      margin-top: 15vw;
    }
  }
}

@media (max-width: 992px){
  body#marketing{
    padding-left: 0;
    header{
      .navbar-fixed{
        display: inherit;
      }
      .navbar{
        background-color: $naranja;
        left: 0;
        width: 100vw;
      }
    }
  }
}