@import 'colors';

body#sobremi{
  ul.collapsible{
    li .collapsible-header, i{
      color: $naranja;
    }
  }
  ul.collection{
    li.collection-item i.fas{
      margin-right: 15px;
    }
  }
  section.curriculum, section.personal{
    h4{
      margin: 2em 0;
    }

    /**Artículo Profesión */

    li#profesion .collapsible-body{
      background-color: $hover-sidenav;
      h2, h3, h4, h5 {
        margin: 0;
        padding: 0;
        font-size: 1em;
      }
      blockquote{
        margin-bottom: 0;
      }
      cite{
        border-top: 1px solid $texto;
      }
      h2{
        color: $navy;
        font-size: 2em;
      }
      h4{
        color: $texto;
      }
      p{
        color: $texto;
      }
      span{
        color: $secundario;
        font-size: 1.3em;
        font-weight: bold;
      }
    }

    /** Artículo Estudios */

    li#estudios .collapsible-body{
      padding-top: .5em;
      ul.collection {
        li{
          color: $titulo;
          h4{
            font-size: large;
          }
          small{
            color: $texto;
          }
        }
      }
    }

    /** Artículo técnico */

    li#tecnico .collapsible-body{
      background-color: #ededeb;
      article{
        margin: 5em 0;
        h5{
          letter-spacing: .5vw;
        }
      }
      article:nth-child(1){
        margin: 2em 0;
      }
      /** Guia de niveles */
      .ui {
        margin-top: 50px;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        .ui_box {
          height: auto;
          background: #3d3d3d;
          box-shadow: -1px -1px rgba(255, 255, 255, 0.07);
          h2 {
            font-family: $ff-sans;
            color: $blanco;
            font-weight: normal;
            font-size: 1.3em;
            margin: -4px 0px 3px 0px;
          }
          p {
            font-size: 12px;
            color: $texto;
            font-weight: 300;
            margin: 2px 0px 15px 0px;
          }
          .ui_box__inner {
            padding: 1em;
            span {
              color: $texto;
              font-size: 1.1em;
              font-weight: 700;
            }
            .progress {
              width: 100%;
              margin-top: 10px;
              height: 6px;
              background: rgba(0, 0, 0, 0.3);
              margin-bottom: 15px;
              .progress_bar {
                height: 6px;
                float: left;
                animation: bar 2s;
                &.basico{
                  background: #f1bc31;
                  width: 33.3%;
                }
                &.medio{
                  background: #e25822;
                  width: 66.6%;
                }
                &.avanzado{
                  background: #b22222;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  section.personal{
    margin-bottom: 10vh;
  }
  /** Para que se adapte las barras a partir de la versión de tableta */
  @media (max-width: 992px){
    
  }
  @media (max-width: 600px){
    
  }
}