#barraaceptacion{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  .card-title{
    font-size: 14px;
  }
  .card-content, .card-action{
    padding: 10px;
  }
  .card-content p{
    font-size: 12px;
  }
  .card-action a{
    font-size: 12px;
  }
}
  