/**
 * HOJA DE ESTILOS DEL TEMA
 * Generales para todas las páginas y expecífico solo para index
 * 1. Importaciones de estilos
 * 2. Estilos generales
 */

 /*
 * 1. Importaciones de estilos 
 */
@import 'marketing';/**Hoja de estilos de marketing.html */
@import 'colors';/**Paleta de colores y fuentes del tema */

/**
 * Estilos generales
 */

*,*::after,*::before{
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
  height: 100vh;
}
p{
  color: $secundario;
}
body#home{
  background-color: $color-fondo;
	background-image: url(../img/bgimage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
  min-height: 100vh;
  /*** GRID ***/
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}
#home header{
  grid-area: header;
  nav li{
    padding-right: 5vw;
  }
  .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img{
      width: 80%;
    }
  }
}
#home main{
  grid-area: main;
  #portada{
    align-items: center;
    display: flex;
    justify-content: center;
    height:100%;
    margin: 0 10vw;
    #logocorto{
      display:none;
    }
    .card-panel {
      background-color: rgba($color: $blanco ,$alpha: 0);
      margin-top: 5vh;
      box-shadow: 0 0 0 #000;
       p {
        font-size: 1em;
        span{
          font-weight: bold;
        }
      }
    }
  }
}
/*HOME FOOTER*/
#home footer{
  grid-area: footer;
  p{
    color: $blanco;
  }
}
.centrado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px){
  #barraLateral{
    left: 140px;
    background-image: url(../img/barraLateralV.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    #iconosocial{
      display: flex;
      justify-content: space-around;
      min-width: 15vh;
      margin-bottom: 1em;
      a img{
        width: 30px;
      }
    }
  }
  body#home nav{
    background-color: transparent;
    box-shadow: none;
    ul li {
     
      a{
      font-family: $ff-menu;
      font-size: 1.2vmax;
      color: $naranja;
      } 
    }
  }
}
@media (max-width: 992px){
  #barraLateral{
    display: none;
  }
  nav{
    background-color: rgba($color: $naranja, $alpha: 1);
  }
}
@media (max-width: 600px){
  body#home{
    background-image: none;
  }
  main #portada{
    .card-panel{
      background-color: rgba($color: $blanco, $alpha: 0.5);
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
      p{
        text-align: center;
      }
    }
    #logolargo{
      display: none;
    }
    #logocorto{
      display: block;
      width: 60%;
    }
  }
}