/**
 * HOJA DE ESTILOS DEL TEMA
 * Generales para todas las páginas y expecífico solo para index
 * 1. Importaciones de estilos
 * 2. Estilos generales
 * 3. Estilos personalizados
 */

 /*
 * 1. Importaciones de estilos 
 */
/**Estilos de blog.html */
@import 'blog';
 /**Estilos de contacto.html */
@import 'contacto';
/**Estilos de marketing.html */
@import 'marketing';
/**Paleta de colores y fuentes del tema */
@import 'colors';

/**
 * Estilos generales
 */

*,*::after,*::before{
  box-sizing: border-box;
}
html{
  margin: 0;
  padding: 0;
  height: 100vh;
}
p{
  font-family: $ff-sans;
  font-size: 1.2em;
  font-weight: 300;
}
blockquote{
  border-left-color: $naranja;
  margin: 4rem 0;
  p{
    margin: 0;
    font-size: 1.5rem;
  }
}
body header nav a i.menu{
  font-size: 40px;
}
footer.page-footer{
  background-color: $navy;
  width: 100%;
}
.centrado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .container .page-title{
  h2{
    margin-bottom: 0;
  }
  span{
    color: $naranja;
    font-size: 1.3rem;
  }
}

/*
* Estilos particulares 
*/


body#home{
  /**Barra lateral de index */
  #barraLateral{
    left: 140px;
    background-image: url(../img/svg/barraLateralV.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    #iconosocial{
      display: flex;
      justify-content: space-around;
      min-width: 15vh;
      margin-bottom: 1em;
      a i{
        color: rgba($color: $blanco, $alpha: 0.6);
        font-size: 1.5vw;
      }
    }
    #avisolegal a{
      color: rgba($color: $blanco, $alpha: 0.3);
      display: block;
      text-align: center;
    }
  }
/**final barra lateral index */
  background-color: $blanco;
	background-image: url(../img/bgimage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
  min-height: 100vh;
  /*** GRID ***/
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  header{
    grid-area: header;
      #nav-vertical{
        display: block;
      }
      nav{
        background-color: transparent;
        box-shadow: none;
        ul li{
        padding-right: 5vw;
        a{
          font-family: $ff-menu;
          font-size: 1.2vmax;
          color: $naranja;
          }
        }
      }
      .sidenav{
        transform: translateX(-105%);
      }
    }
  main#portada{
    grid-area: main;
    align-items: center;
    display: flex;
    justify-content: center;
    height:100%;
    margin: 0 10vw;
    #logocorto{
      display:none;
    }
    .card-panel {
      background-color: rgba($color: $blanco ,$alpha: 0);
      margin-top: 5vh;
      box-shadow: 0 0 0 #000;
      p {
        font-size: 1.2rem;
        color: $titulo;
        span{
          font-weight: bold;
          color: $naranja;
        }
      }
    }
  }
  footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      margin: 0;
      color: rgba($color: $blanco, $alpha: 0.3);
    }
  }
}
/*
>>>>>>>>>> MEDIA QUERIES <<<<<<<<<< 
*/

/** max-width 992 */
@media (max-width: 992px){
  body#home #barraLateral{
    display: none;
  }
  body#home header nav{
    background-color: rgba($color: $naranja, $alpha: 1);
  }
}
/**max-width 576px */
@media (max-width: 576px){
  body#home{
    background-image: none;
    background-color: $navy;
    main#portada{
      .card-panel{
        background-color: unset;
        box-shadow: none;
        padding: 0;
        p{
          text-align: center;
          color: $blanco;
          line-height: 1.8em;
        }
      }
      #logolargo{
        display: none;
      }
      #logocorto{
        display: block;
        width: 60%;
      }
    }
  }
}